*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
*.md
docs
*copy.php
storage/app/private
*copy.*

/properties.js
*/trash
trash
trash2
app/Helpers
/resources/views/pages/dashboard/vehicles
SYSTEM_READY.txt
mixjo2025_ORDERED.sql
mixjo2025_OREADY.sql
jsconfig.json
border_crossings_guide.html
.env.testing
CROSSING_PORTS_UPDATE.md