@media (width >=80rem) {
    .kt-container-fixed {
        width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 480px) {
    .kt-container-fixed {
        padding: 0 10px !important;
    }
}

/* #pageContent>div>div:nth-child(2) {
    display: grid !important;
    flex-wrap: wrap !important;
    grid-template-columns: repeat(5, minmax(250px, 1fr)) !important;
} */

.kt-dropdown-menu {
    left: auto !important;
    top: 60px !important;
    right: 20px !important;
    transform: none !important;
    inset: auto;
}

.kt-dropdown-menu.languages-dropdown-menu {
    top: 180px !important;
    right: 250px !important;
    left: auto !important;
}

#notification-dropdown {
    right: 0;
    left: auto;

    & .notification-actions {
        right: 20px;
        left: auto;
    }
}

html[lang="ar"] {
    & .kt-dropdown-menu {
        left: 20px !important;
        right: auto !important;
    }

    & .kt-dropdown-menu.languages-dropdown-menu {
        left: 250px !important;
        right: auto !important;
    }

    & #notification-dropdown {
        left: 0;
        right: auto;

        & .notification-actions {
            right: auto;
            left: 20px;
        }
    }
}

.toggle-loading {
    opacity: 0.5;
    position: relative;
    pointer-events: none;
    cursor: not-allowed;
}

.loading-text,
.loading-spinner {
    position: relative;
    pointer-events: none;
    cursor: not-allowed;
}

.loading-spinner {
    color: transparent;

    & .la-ball-clip-rotate {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}

[toggle-button]:active {
    opacity: 0.8;
    cursor: pointer;
    transform: translateY(2px) scale(0.95);
}

.activity-details-header {
    position: sticky;
    top: 80px;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-blue-50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Start datatable loading */
.kt-scrollable-x-auto {
    position: relative;
}

.kt-scrollable-x-auto::after {
    content: '';
    width: 100%;
    height: 100svh;
    background-color: #ffffff00;
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    align-content: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
    transition: 0.3s;
}

.kt-scrollable-x-auto.loading {
    & table {
        backdrop-filter: blur(1px);
        filter: blur(1px);
        opacity: 0.9;
    }
}

.kt-scrollable-x-auto.loading::after {
    display: inline-block;
    /* animation: loading 2.4s infinite linear; */
}

th:has(i, svg) {
    cursor: pointer !important;
}

@keyframes loading {
    0% {
        content: 'Loading.';
    }

    40% {
        content: 'Loading..';
    }

    100% {
        content: 'Loading...';
    }
}

/* End datatable loading */

.fade-out {
    animation: fadeOut 250ms forwards linear;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        display: none;
        transform: translateX(100%);
    }
}

.kt-input:not(input) {
    &:has(input:focus-visible) {
        box-shadow: none;
    }
}

.loading {
    opacity: 0.7 !important;
    user-select: none !important;
    pointer-events: none !important;
}

.i-loader,
.span-info {
    opacity: 0 !important;
    /* visibility: hidden !important; */
    display: none !important;
    transition: opacity 0.3s ease, visibility 0.3s ease !important;
}

.i-loader.show,
.span-info.show {
    opacity: 1 !important;
    /* visibility: visible !important; */
    display: inline-block !important;
    transition: opacity 0.3s ease, visibility 0.3s ease !important;
}

.i-loader.show {
    animation: spinLoader 0.5s infinite linear !important;
}

@keyframes spinLoader {
    to {
        transform: rotate(1turn);
    }
}

.image-character {
    /* width: 90px; */
    /* height: 90px; */
    color: white;
    display: flex;
    font-size: 40px;
    border-radius: 100%;
    align-items: center;
    background-color: #0b55a8;
    justify-content: center;
}

.highlight {
    background-color: yellow;
}

.customSelect:focus {
    outline: none;
}

.customSelect {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid var(--main-color-70);
}

#parentColumnsModal {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

#parentColumnsModal i {
    pointer-events: none;
}

#columnsModal {
    width: 600px;
    position: absolute;
    top: 50px;
    left: auto;
    right: auto;
    z-index: 1000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-wrap: nowrap;
    overflow: hidden;

    & input {
        width: 15px;
        height: 15px;
    }
}

#columnsModal {
    box-shadow: 0px 5px 7px #f3f3f3,
        -5px 0px 7px #f3f3f3,
        5px 0px 7px #f3f3f3;
}

#columnsModal .grid,
#notifications {
    overflow-y: scroll;
    max-height: 504px;
    padding-inline-end: 5px;
}

#columnsModal .grid::-webkit-scrollbar,
#notifications::-webkit-scrollbar {
    width: 2px;
}

#columnsModal .grid::-webkit-scrollbar-thumb,
#notifications::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

.filterTable {
    gap: 15px;
    display: flex;
    align-items: end;

    &>div,
    & select {
        width: auto;
        min-width: 120px;
    }
}

.edit-profile {
    width: 70% !important;
    margin: auto;
}

#activity-filters-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(auto, 1fr));
}

#activity-breakdown-container div {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));

    & * {
        font-size: 12px;
        text-wrap: nowrap;
    }
}

@media (max-width: 1280px) {
    #columnsModal {
        width: 400px;
    }

    #activity-filters-container {
        grid-template-columns: repeat(4, minmax(auto, 1fr));
    }

    #activity-breakdown-container div {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));

        & * {
            font-size: 10px;
        }
    }
}

@media (max-width: 992px) {
    .search-toggle {
        display: none !important;
    }

    #columnsModal {
        width: 320px;
        font-size: 12px;
    }

    #activity-filters-container {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
    }

    #pagination_links,
    #grid-length-selector {
        display: none;
    }

    #media-files-grid {
        display: grid !important;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    }

    .filterTable {
        display: grid;
        align-items: end;
        grid-template-columns: repeat(3, minmax(auto, 1fr));

        &,
        & * option {
            font-size: 10px;
        }

        &>div,
        & select {
            width: 100%;
            min-width: auto;
            height: 30px;
        }
    }
}

.media-file-actions :where(button, a) {
    height: 20px;
    font-size: 10px;
    padding: 0px 5px !important;

    & i {
        font-size: 10px !important;
    }
}

#parentColumnsModal>div.kt-btn {
    font-size: 16px;
}

@media (max-width: 768px) {
    #parentColumnsModal>div.kt-btn {
        height: fit-content;
        padding: 7px;
        font-size: 12px;
        border-radius: 3px;
    }

    #columnsModal {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    #activity-filters-container {
        grid-template-columns: repeat(2, minmax(auto, 1fr));

        & * {
            font-size: 12px;
        }

        & input,
        & select {
            height: 35px;
        }
    }

    #activity-breakdown-container div {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));

        & * {
            font-size: 8px;
        }
    }

    .edit-profile {
        width: 100% !important;
    }

    .filterTable {

        &,
        & * option {
            font-size: 8px;
        }
    }

    .pagination-showing p {
        text-wrap: wrap;
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .apps-toggle {
        display: none !important;
    }

    #breadcrumb {
        & .breadcrumb-buttons :where(a) {
            height: 25px;
            font-size: 10px;
            padding: 6px 12px;
            border-radius: 4px;
        }
    }
}

@media (max-width: 425px) {
    #columnsModal {
        width: 270px;
        padding: 10px;
        border-radius: 3px;
        font-size: 9px;

        &>div:not(.actions-buttons) {
            gap: 3px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        & input {
            width: 12px;
            height: 12px;
            border-radius: 1px;
            margin-inline-end: 5px;
        }

        & .actions-buttons>div {
            /* display: flex; */
            width: fit-content;
            font-size: 9px;
            padding: 9px;
            height: 22px;
            flex-direction: row;
        }

        .custom-input {
            --unchecked: #27272a;
            --checked: #1379f0;
            --stroke: 1px;
            --inset: 1px;
            --size: 10px;
            --gap: 9px;

            & .pseudo-checkbox::before {
                border-radius: 2px;
            }

            & .pseudo-checkbox::after {
                border-radius: 0.7px;
            }
        }
    }

    #activity-filters-container {
        grid-template-columns: repeat(2, minmax(auto, 1fr));

        & * {
            font-size: 8px;
        }

        & label {
            margin-bottom: 3px;
        }

        & input,
        & select {
            height: 25px;
        }
    }

    #activity-breakdown-container div {
        grid-template-columns: repeat(4, minmax(auto, 1fr));

        & li {
            gap: 4px;
            border-radius: 3px;
        }

        & span:nth-child(2) {
            padding-inline: 4px;
        }

        & * {
            font-size: 6px;
        }
    }

    .filterTable {

        &>div,
        & select {
            height: 25px;
        }
    }

    .edit-profile {

        & .kt-container-fixed {
            padding: 10px !important;
        }

        & [class*="p-"],
        & .kt-card-header {
            padding: 5px !important;
        }

        #upload-button {
            width: 100% !important;
        }
    }

    #media-files-grid {
        &.tow {
            grid-template-columns: repeat(2, 1fr) !important;
        }

        & div {
            font-size: 8px !important;
        }

        & .aspect-square+div {
            padding: 7px;
        }

        & .media-file-actions {
            gap: 1px;
        }

        & .media-file-collection {
            border-radius: 3px;
            font-size: 8px !important;
            padding: 2px 5px !important;
        }

        & .media-file-actions :where(button, a) {
            height: 15px !important;
            border-radius: 3px !important;

            & i {
                font-size: 6px !important;
            }
        }
    }

    .items_per_page,
    .details_info {
        display: none;
    }

    .previousPage,
    .nextPage {
        gap: 3px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        & span.s {
            display: none;
        }

        & span:not(.s) {
            transform: translateY(-2.5px);
        }
    }
}

#notifications {
    & .notification {
        border-bottom: 1px solid #ddd;
    }
}

/* !
                                                                                * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
                                                                                * Copyright 2015 Daniel Cardoso <@DanielCardoso>
                                                                                * Licensed under MIT
                                                                                */
.la-ball-clip-rotate,
.la-ball-clip-rotate>div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
}

.la-ball-clip-rotate {
    display: block;
    font-size: 0;
    color: var(--color-primary);
}

.la-ball-clip-rotate.la-dark {
    color: #333;
}

.la-ball-clip-rotate>div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-clip-rotate {
    width: 32px;
    height: 32px;
    text-align: center;
    align-content: center;
}

.la-ball-clip-rotate>div {
    width: 32px;
    height: 32px;
    background: transparent;
    border-width: 2px;
    border-bottom-color: transparent;
    border-radius: 100%;
    -webkit-animation: ball-clip-rotate .75s linear infinite;
    -moz-animation: ball-clip-rotate .75s linear infinite;
    -o-animation: ball-clip-rotate .75s linear infinite;
    animation: ball-clip-rotate .75s linear infinite;
}

.la-ball-clip-rotate.la-sm {
    width: 16px;
    height: 16px;
}

.la-ball-clip-rotate.la-sm>div {
    width: 16px;
    height: 16px;
    border-width: 1px;
}

.la-ball-clip-rotate.la-md {
    width: 24px;
    height: 24px;
}

.la-ball-clip-rotate.la-md>div {
    width: 24px;
    height: 24px;
    border-width: 2px;
}

.la-ball-clip-rotate.la-2x {
    width: 64px;
    height: 64px;
}

.la-ball-clip-rotate.la-2x>div {
    width: 64px;
    height: 64px;
    border-width: 4px;
}

.la-ball-clip-rotate.la-3x {
    width: 96px;
    height: 96px;
}

.la-ball-clip-rotate.la-3x>div {
    width: 96px;
    height: 96px;
    border-width: 6px;
}

/*
                                                                                                                                         * Animation
                                                                                                                                         */
@-webkit-keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes ball-clip-rotate {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes ball-clip-rotate {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}